@charset "UTF-8";
/**
 * Placeholder for the actions container used by sections, groups & patterns
 */
.primer-section__actions, .primer-group__actions, .primer-pattern__actions {
  float: right; }
  .primer-section__actions a, .primer-group__actions a, .primer-pattern__actions a {
    text-decoration: none;
    color: #0086C8;
    font-weight: bold; }

body.not-template:not(.minimal) {
  background: #EEF2F5; }

.primer-section__link,
.primer-group__link {
  margin-right: 7px; }

.primer-pattern__link {
  margin-left: -7px; }

.primer-section__link,
.primer-group__link,
.primer-pattern__link,
.primer-pattern__toggle-button {
  box-sizing: border-box;
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 0 0 0 44px;
  background-color: transparent;
  border: 0;
  text-indent: 1000%;
  vertical-align: middle;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  opacity: 0.3; }
  .primer-section__link:hover,
  .primer-group__link:hover,
  .primer-pattern__link:hover,
  .primer-pattern__toggle-button:hover {
    opacity: 0.8; }

.primer-section__link,
.primer-group__link,
.primer-pattern__link {
  background: url("../img/link.png") no-repeat center;
  background: url("../img/link@2x.png") no-repeat center center/15px 15px; }

.primer-pattern__toggle-button--code {
  background: url("../img/code.png") no-repeat center;
  background: url("../img/code@2x.png") no-repeat center center/19px 11px; }
  .primer-pattern__toggle-button--code.primer-pattern__toggle-button--active {
    background: url("../img/code-on.png") no-repeat center;
    background: url("../img/code-on@2x.png") no-repeat center center/19px 11px;
    opacity: 1; }

.primer-pattern__toggle-button--data {
  background: url("../img/data.png") no-repeat center;
  background: url("../img/data@2x.png") no-repeat center center/13px 16px; }
  .primer-pattern__toggle-button--data.primer-pattern__toggle-button--active {
    background: url("../img/data-on.png") no-repeat center;
    background: url("../img/data-on@2x.png") no-repeat center center/13px 16px;
    opacity: 1; }

.primer-pattern__toggle-button--readme {
  background: url("../img/info.png") no-repeat center;
  background: url("../img/info@2x.png") no-repeat center center/7px 16px; }
  .primer-pattern__toggle-button--readme.primer-pattern__toggle-button--active {
    background: url("../img/info-on.png") no-repeat center;
    background: url("../img/info-on@2x.png") no-repeat center center/7px 16px;
    opacity: 1; }

.primer-section {
  margin: 0 0.5em; }

.primer-section__header {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  overflow: hidden; }

.primer-section__title {
  float: left;
  font-size: 2.4em;
  font-weight: normal;
  color: #212121; }

.primer-section__copy {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 0.875em; }

body > .primer-group {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.primer-group__header {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  overflow: hidden;
  margin-top: 4em; }
  .primer-section__header + .primer-group .primer-group__header {
    margin-top: 1em; }
  body > .primer-group:first-child .primer-group__header {
    margin-top: 1em; }

.primer-group__title {
  float: left;
  font-size: 1.6em;
  font-weight: 300;
  color: #212121; }

.primer-group__copy {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5em;
  color: #212121;
  color: rgba(33, 33, 33, 0.7); }
  .primer-group__copy strong,
  .primer-group__copy b {
    font-weight: 400;
    color: rgba(33, 33, 33, 0.8); }

body > .primer-pattern {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.primer-pattern {
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29); }
  .primer-group__header + .primer-pattern {
    margin-top: 1em; }
  body > .primer-pattern:first-child {
    margin-top: 1em; }

.primer-pattern__header {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid #edecec;
  overflow: hidden;
  padding: 1em 1em;
  color: #212121;
  border-radius: 3px 3px 0 0; }

.primer-pattern__title {
  float: left; }

.primer-pattern__id {
  font-family: 'courier new';
  font-size: 0.75em;
  opacity: 0;
  margin-left: 0.5em; }
  .primer-pattern:hover .primer-pattern__id {
    opacity: 0.5; }

.primer-pattern__copy {
  clear: both;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 0.75em;
  margin-top: 2.2em;
  color: #444; }
  .primer-pattern__copy p:last-child {
    margin-bottom: 0.4em; }

.primer-pattern__actions {
  margin: -10px; }

.primer-pattern__content {
  padding: 1em 1em; }

.primer-pattern__data,
.primer-pattern__html {
  border: 1px solid #e5e5e5;
  margin: 1em;
  /**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
  /* Code blocks */
  /* Text Selection colour */
  /* Inline code */
  /* Markup */
  /* Make the tokens sit above the line highlight so the colours don't look faded. */ }
  .primer-pattern__data pre,
  .primer-pattern__html pre {
    margin: 0 !important;
    padding: 0.5em;
    font-size: 0.75em; }
  .primer-pattern__data code[class*="language-"],
  .primer-pattern__data pre[class*="language-"],
  .primer-pattern__html code[class*="language-"],
  .primer-pattern__html pre[class*="language-"] {
    color: white;
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .primer-pattern__data pre[class*="language-"],
  .primer-pattern__data :not(pre) > code[class*="language-"],
  .primer-pattern__html pre[class*="language-"],
  .primer-pattern__html :not(pre) > code[class*="language-"] {
    background: #33383C; }
  .primer-pattern__data pre[class*="language-"],
  .primer-pattern__html pre[class*="language-"] {
    border-radius: 2px;
    margin: .5em 0;
    overflow: auto;
    padding: 1em; }
  .primer-pattern__data pre[class*="language-"]::selection,
  .primer-pattern__html pre[class*="language-"]::selection {
    /* Safari */
    background: #27292a;
    /* #282A2B */ }
  .primer-pattern__data pre[class*="language-"]::selection,
  .primer-pattern__html pre[class*="language-"]::selection {
    /* Firefox */
    background: #27292a;
    /* #282A2B */ }
  .primer-pattern__data pre[class*="language-"]::-moz-selection, .primer-pattern__data pre[class*="language-"] ::-moz-selection,
  .primer-pattern__data code[class*="language-"]::-moz-selection, .primer-pattern__data code[class*="language-"] ::-moz-selection,
  .primer-pattern__html pre[class*="language-"]::-moz-selection,
  .primer-pattern__html pre[class*="language-"] ::-moz-selection,
  .primer-pattern__html code[class*="language-"]::-moz-selection,
  .primer-pattern__html code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
    /* #EDEDED */ }
  .primer-pattern__data pre[class*="language-"]::selection, .primer-pattern__data pre[class*="language-"] ::selection,
  .primer-pattern__data code[class*="language-"]::selection, .primer-pattern__data code[class*="language-"] ::selection,
  .primer-pattern__html pre[class*="language-"]::selection,
  .primer-pattern__html pre[class*="language-"] ::selection,
  .primer-pattern__html code[class*="language-"]::selection,
  .primer-pattern__html code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
    /* #EDEDED */ }
  .primer-pattern__data :not(pre) > code[class*="language-"],
  .primer-pattern__html :not(pre) > code[class*="language-"] {
    border-radius: .3em;
    border: 0.13em solid #545454;
    /* #545454 */
    padding: .15em .2em .05em; }
  .primer-pattern__data .token.comment,
  .primer-pattern__data .token.prolog,
  .primer-pattern__data .token.doctype,
  .primer-pattern__data .token.cdata,
  .primer-pattern__html .token.comment,
  .primer-pattern__html .token.prolog,
  .primer-pattern__html .token.doctype,
  .primer-pattern__html .token.cdata {
    color: #787878;
    /* #777777 */ }
  .primer-pattern__data .token.punctuation,
  .primer-pattern__html .token.punctuation {
    opacity: .7; }
  .primer-pattern__data .namespace,
  .primer-pattern__html .namespace {
    opacity: .7; }
  .primer-pattern__data .token.tag,
  .primer-pattern__data .token.boolean,
  .primer-pattern__data .token.number,
  .primer-pattern__data .token.deleted,
  .primer-pattern__html .token.tag,
  .primer-pattern__html .token.boolean,
  .primer-pattern__html .token.number,
  .primer-pattern__html .token.deleted {
    color: #cf694a;
    /* #CF6A4C */ }
  .primer-pattern__data .token.keyword,
  .primer-pattern__data .token.property,
  .primer-pattern__data .token.selector,
  .primer-pattern__data .token.constant,
  .primer-pattern__data .token.symbol,
  .primer-pattern__data .token.builtin,
  .primer-pattern__html .token.keyword,
  .primer-pattern__html .token.property,
  .primer-pattern__html .token.selector,
  .primer-pattern__html .token.constant,
  .primer-pattern__html .token.symbol,
  .primer-pattern__html .token.builtin {
    color: #f9ee9a;
    /* #F9EE98 */ }
  .primer-pattern__data .token.attr-name,
  .primer-pattern__data .token.attr-value,
  .primer-pattern__data .token.string,
  .primer-pattern__data .token.char,
  .primer-pattern__data .token.operator,
  .primer-pattern__data .token.entity,
  .primer-pattern__data .token.url,
  .primer-pattern__data .language-css .token.string,
  .primer-pattern__data .style .token.string,
  .primer-pattern__data .token.variable,
  .primer-pattern__data .token.inserted,
  .primer-pattern__html .token.attr-name,
  .primer-pattern__html .token.attr-value,
  .primer-pattern__html .token.string,
  .primer-pattern__html .token.char,
  .primer-pattern__html .token.operator,
  .primer-pattern__html .token.entity,
  .primer-pattern__html .token.url,
  .primer-pattern__html .language-css .token.string,
  .primer-pattern__html .style .token.string,
  .primer-pattern__html .token.variable,
  .primer-pattern__html .token.inserted {
    color: #919e6b;
    /* #8F9D6A */ }
  .primer-pattern__data .token.atrule,
  .primer-pattern__html .token.atrule {
    color: #7386a5;
    /* #7587A6 */ }
  .primer-pattern__data .token.regex,
  .primer-pattern__data .token.important,
  .primer-pattern__html .token.regex,
  .primer-pattern__html .token.important {
    color: #e9c163;
    /* #E9C062 */ }
  .primer-pattern__data .token.important,
  .primer-pattern__data .token.bold,
  .primer-pattern__html .token.important,
  .primer-pattern__html .token.bold {
    font-weight: bold; }
  .primer-pattern__data .token.italic,
  .primer-pattern__html .token.italic {
    font-style: italic; }
  .primer-pattern__data .token.entity,
  .primer-pattern__html .token.entity {
    cursor: help; }
  .primer-pattern__data pre[data-line],
  .primer-pattern__html pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative; }
  .primer-pattern__data .language-markup .token.tag,
  .primer-pattern__data .language-markup .token.attr-name,
  .primer-pattern__data .language-markup .token.punctuation,
  .primer-pattern__html .language-markup .token.tag,
  .primer-pattern__html .language-markup .token.attr-name,
  .primer-pattern__html .language-markup .token.punctuation {
    color: #ad895c;
    /* #AC885B */ }
  .primer-pattern__data .token,
  .primer-pattern__html .token {
    position: relative;
    z-index: 1; }
  .primer-pattern__data .line-highlight,
  .primer-pattern__html .line-highlight {
    background: -moz-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
    /* #545454 */
    background: -o-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
    /* #545454 */
    background: -webkit-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
    /* #545454 */
    background: rgba(84, 84, 84, 0.25);
    /* #545454 */
    background: linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
    /* #545454 */
    border-bottom: 1px dashed #545454;
    /* #545454 */
    border-top: 1px dashed #545454;
    /* #545454 */
    left: 0;
    line-height: inherit;
    margin-top: 0.75em;
    /* Same as .prism’s padding-top */
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index: 0; }
  .primer-pattern__data .line-highlight:before,
  .primer-pattern__data .line-highlight[data-end]:after,
  .primer-pattern__html .line-highlight:before,
  .primer-pattern__html .line-highlight[data-end]:after {
    background-color: #8794a6;
    /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: #f5f2f0;
    /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em; }
  .primer-pattern__data .line-highlight[data-end]:after,
  .primer-pattern__html .line-highlight[data-end]:after {
    bottom: .4em;
    content: attr(data-end);
    top: auto; }

.primer-tabs__controls {
  background: #292D31;
  border-radius: 2px 2px 0px 0px;
  text-align: right; }
  .primer-tabs__controls ~ .primer-tab pre[class*="language-"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.primer-tabs__control {
  padding: 0.7em;
  font-size: 12px;
  font-weight: 400;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.primer-tabs__control--current {
  color: #fff; }

.primer-minimal-toggle {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: arial, sans-serif;
  padding: 0.8em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
  opacity: 0.2;
  font-size: 0.875em;
  border-radius: 5px;
  transition: opacity 500ms ease; }
  .primer-minimal-toggle:hover {
    opacity: 1; }

.primer-menu {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: arial, sans-serif;
  padding: 0.8em;
  position: fixed;
  bottom: 0.5em;
  left: 1em;
  opacity: 0.2;
  font-size: 0.875em;
  border-radius: 5px;
  transition: opacity 500ms ease; }
  .primer-menu:hover {
    opacity: 1; }
  .primer-menu.visible {
    opacity: 1; }
    .primer-menu.visible .primer-menu__nav {
      display: block; }

.primer-menu__button {
  height: 38px;
  margin: -0.8em;
  padding: 0.8em;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  outline: none; }

.primer-menu__nav {
  display: none;
  margin-bottom: 1em;
  max-height: 300px;
  overflow: auto; }

.primer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.primer-menu__item {
  padding: 0.5em 0; }

.primer-menu__link {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  text-decoration: none; }
  .primer-menu__link:hover {
    color: #fff; }

/*# sourceMappingURL=primer.css.map */