$primer-sidebar-background-color: #fff !default;
$primer-sidebar-group-background-color: #fff !default;
$primer-sidebar-group-border-color: rgba(#979797, 0.17) !default;
$primer-sidebar-group-font-color: #606163 !default;
$primer-sidebar-list-item-background-color: #F9FAFC !default;
$primer-sidebar-list-item-background-color-hover: rgba(#000, 0.02) !default;
$primer-sidebar-list-item-font-color: #7a7c7d !default;
$primer-sidebar-list-item-font-color-current: #000 !default;
$primer-sidebar-list-item-border-left-color: #D8DDE3 !default;
$primer-sidebar-list-item-border-left-color-current: #809cb9 !default;

.primer-sidebar {
    @include font-smoothing();

    overflow: visible;

    background: $primer-sidebar-background-color;

    font-family: $primer-font-stack;
    font-weight: $primer-font-weight-regular;
}

.primer-logo {
    overflow: hidden;

    display: block;
    margin: 1.5rem 1rem;
    height: 60px;

    text-indent: -600px;

    background: url('../img/logo.svg') no-repeat center;
}

.primer-sidebar__nav {
    transition: opacity 150ms ease;
}

.primer-sidebar-group {
    > .primer-nav-items {
        display: none;

        border-bottom: 1px solid $primer-sidebar-group-border-color;
    }
}

.primer-sidebar-group--open {
    > .primer-nav-items {
        display: block;
    }
}

.primer-sidebar-group__title {
    position: relative;

    display: block;
    padding: 1.1rem 1rem 1.1rem 2.8rem;

    font-size: 0.9rem;
    font-weight: $primer-font-weight-medium;
    color: $primer-sidebar-group-font-color;

    background-color: $primer-sidebar-group-background-color;
    border-bottom: 1px solid $primer-sidebar-group-border-color;

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 2.8rem;
        height: 96%;

        background-position: center;
        background-repeat: no-repeat;

        content: '';

        opacity: 0.7;
    }

    + .primer-nav-items {
        position: relative;

        padding: 0.5rem 0;

        background: $primer-sidebar-list-item-background-color;

        &:before {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 6px;

            background: $primer-sidebar-list-item-border-left-color;
            content: '';
        }

        // > .primer-nav-item > .primer-nav-item__link {
        //     padding-left: 1.5rem;
        // }
    }
}

.primer-nav-item__group-link {
    width: 22px;
    height: 15px;
    overflow: hidden;

    text-indent: -1000%;

    background: url('../img/eye.svg') no-repeat center;

    opacity: 0;

    transition: opacity 300ms ease;

    &:hover {
        background-image: url('../img/eye-highlight.svg');
    }
}

.primer-sidebar-group--documentation .primer-sidebar-group__title:before {
    background-image: url('../img/document.svg');
}

.primer-sidebar-group--patterns .primer-sidebar-group__title:before {
    background-image: url('../img/pattern.svg');
}

.primer-sidebar-group--templates .primer-sidebar-group__title:before {
    background-image: url('../img/template.svg');
}

.primer-nav-items {
    margin: 0;
    padding: 0;

    font-size: 0.9rem;
    list-style: none;
}

.primer-nav-item__link {
    position: relative;

    display: flex;
    padding: 0.9rem 1rem;

    color: $primer-sidebar-list-item-font-color;
    text-decoration: none;

    align-items: center;
    justify-content: space-between;

    .primer-nav-item--current > & {
        color: $primer-sidebar-list-item-font-color-current;
        font-weight: $primer-font-weight-medium;
    }

    &:hover {
        background: $primer-sidebar-list-item-background-color-hover;

        .primer-nav-item__group-link {
            opacity: 1;
        }
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 6px;

        background: $primer-sidebar-list-item-border-left-color;
        content: '';
    }

    @for $level from 1 through 10 {
        .primer-nav-items--level-#{$level} & {
            padding-left: 1 + ($level * 1.6rem);
        }
    }
}

.primer-nav-item__link-title {
    position: relative;
    overflow: hidden;

    display: block;
    padding-left: 1.8rem;
    padding-right: 0.5em;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex: 1;
}

.primer-nav-item--has-children > .primer-nav-item__link > .primer-nav-item__link-title:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1rem;
    height: 92%;

    background: url('../img/chevron.svg') no-repeat center;

    transform-origin: center;
    transition: transform 150ms ease;
    opacity: 0.4;

    content: '';
}

.primer-nav-item--has-children.primer-nav-item--open > .primer-nav-item__link > .primer-nav-item__link-title:before {
    transform: rotate(90deg);
}

.primer-nav-item--current > .primer-nav-item__link:before {
    background: $primer-sidebar-list-item-border-left-color-current;
}

.primer-nav-item--has-children {
    .primer-nav-items {
        display: none;
    }
}

.primer-nav-item--has-children.primer-nav-item--open {
    > .primer-nav-items {
        display: block;
    }
}

.primer-sidebar--enhanced {
    .primer-nav-item__link,
    .primer-sidebar-group {
        cursor: pointer;
    }
}

.primer-sidebar--searching {
    .primer-sidebar__nav {
        opacity: 0.2;
    }
}
