.primer-sidebar--small {
    position: relative;

    display: flex;

    align-items: center;
    flex-wrap: wrap;

    .primer-logo {
        margin-top: 0;
        margin-bottom: 0;
        min-width: 100px;

        background-size: contain;
        background-position-x: left;
    }

    .primer-search-container {
        flex: 1;
    }

    .primer-search {
        padding-bottom: 0;
    }

    .primer-sidebar__nav {
        width: 100%;

        &[hidden] {
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .primer-sidebar--small {
        justify-content: space-between;

        .primer-search-container {
            width: 100%;

            flex: initial;
            order: 3;
        }

        .primer-search {
            padding-right: $primer-body-padding;
            padding-left: $primer-body-padding;
            margin-bottom: 16px;
        }

        .primer-sidebar__nav {
            order: 4;
        }
    }
}

.primer-burger {
    position: relative;
    overflow: hidden;

    height: 60px;
    width: 40px;
    width: calc(24px + #{$primer-body-padding});

    text-indent: -400%;

    background: transparent;
    border: 0;

    cursor: pointer;

    appearance: none;

    outline: none; // :(
}

.primer-burger:before,
.primer-burger:after,
.primer-burger__text:before {
    position: absolute;
    left: 0;

    width: 24px;
    height: 2px;

    background: #56606A;

    content: '';
}

.primer-burger:before {
    top: calc(50% - 1px - 5px);
}

.primer-burger:after {
    top: calc(50% - 1px);
}

.primer-burger__text:before {
    top: calc(50% - 1px + 5px);
}

.primer-burger--closed {
    &:before {
        animation: primer-burger-top-close 320ms ease-in-out forwards;
    }

    &:after {
        animation: primer-burger-middle-close 320ms ease-in-out forwards;
    }

    .primer-burger__text:before {
        animation: primer-burger-bottom-close 320ms ease-in-out forwards;
    }
}

.primer-burger--open {
    &:before {
        animation: primer-burger-top 320ms ease-in-out forwards;
    }

    &:after {
        animation: primer-burger-middle 320ms ease-in-out forwards;
    }

    .primer-burger__text:before {
        animation: primer-burger-bottom 320ms ease-in-out forwards;
    }
}

@keyframes primer-burger-top {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(5px) rotate(-45deg);
    }
}

@keyframes primer-burger-top-close {
    100% {
        transform: none;
    }

    50% {
        transform: translateY(5px);
    }

    0% {
        transform: translateY(5px) rotate(-45deg);
    }
}

@keyframes primer-burger-middle {
    0% {
        transform: none;
    }

    50% {
        transform: none;
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes primer-burger-middle-close {
    100% {
        transform: none;
    }

    50% {
        transform: none;
    }

    0% {
        transform: rotate(45deg);
    }
}

@keyframes primer-burger-bottom {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(-5px) rotate(45deg);
    }
}

@keyframes primer-burger-bottom-close {
    100% {
        transform: none;
    }

    50% {
        transform: translateY(-5px);
    }

    0% {
        transform: translateY(-5px) rotate(45deg);
    }
}
