$primer-font-stack: 'Roboto', sans-serif !default;
$primer-font-weight-regular: 400 !default;
$primer-font-weight-medium: 500 !default;

$primer-body-padding: 19.2px !default;

$primer-sidebar-background-color: #fff !default;
$primer-sidebar-group-background-color: #fff !default;
$primer-sidebar-group-border-color: rgba(#979797, 0.17) !default;
$primer-sidebar-group-font-color: #606163 !default;
$primer-sidebar-list-item-background-color: #F9FAFC !default;
$primer-sidebar-list-item-background-color-hover: rgba(#000, 0.02) !default;
$primer-sidebar-list-item-font-color: #7a7c7d !default;
$primer-sidebar-list-item-font-color-current: #000 !default;
$primer-sidebar-list-item-border-left-color: #D8DDE3 !default;
$primer-sidebar-list-item-border-left-color-current: #809cb9 !default;

$primer-search-padding-horizontal: 16px !default;
$primer-search-control-padding-vertical: 8px !default;
$primer-search-control-padding-horizontal: 16px !default;
