$border-radius: 3px !default;
$horizontal-spacing: 1em !default;
$font-family: 'Helvetica Neue', 'Arial', sans-serif !default;
$border-color: #e5e5e5 !default;
$header-color: #fbf9f9 !default;
$font-color: #212121 !default;

$primer-gutter: 0.5em !default;

/**
 * Placeholder for the actions container used by sections, groups & patterns
 */
%primer-actions {
    float: right;

    a {
        text-decoration: none;
        color: #0086C8;
        font-weight: bold;
    }
}

body.not-template:not(.minimal) {
    background: #EEF2F5;
}

// Make all the link icons line up horizontally
.primer-section__link,
.primer-group__link {
    margin-right: 7px;
}

.primer-section__link,
.primer-group__link,
.primer-pattern__link,
.primer-pattern__toggle-button {
    box-sizing: border-box;
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0 0 0 44px;

    background-color: transparent;
    border: 0;

    text-indent: 1000%;
    vertical-align: middle;

    overflow: hidden;
    outline: none;
    cursor: pointer;

    opacity: 0.3;

    &:hover {
        opacity: 0.8;
    }
}

.primer-section__link,
.primer-group__link,
.primer-pattern__link {
    background: url('../img/link.png') no-repeat center;
    background: url('../img/link@2x.png') no-repeat center center / 15px 15px;
}

.primer-pattern__toggle-button--code {
    background: url('../img/code.png') no-repeat center;
    background: url('../img/code@2x.png') no-repeat center center / 19px 11px;

    &.primer-pattern__toggle-button--active {
        background: url('../img/code-on.png') no-repeat center;
        background: url('../img/code-on@2x.png') no-repeat center center / 19px 11px;

        opacity: 1;
    }
}

.primer-pattern__toggle-button--readme {
    background: url('../img/info.png') no-repeat center;
    background: url('../img/info@2x.png') no-repeat center center / 7px 16px;

    &.primer-pattern__toggle-button--active {
        background: url('../img/info-on.png') no-repeat center;
        background: url('../img/info-on@2x.png') no-repeat center center / 7px 16px;

        opacity: 1;
    }
}

@import "section";
@import "group";
@import "pattern";

@import "hud";