.primer-minimal-toggle {
	background: rgba(#000, 0.8);
	color: #fff;
	font-family: arial, sans-serif;
	padding: 0.8em;
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	cursor: pointer;
	opacity: 0.2;
	font-size: 0.875em;
	border-radius: 5px;

	transition: opacity 500ms ease;

	&:hover {
		opacity: 1;
	}
}

.primer-menu {
	box-sizing: border-box;
	background: rgba(#000, 0.8);
	color: #fff;
	font-family: arial, sans-serif;
	padding: 0.8em;
	position: fixed;
	bottom: 0.5em;
	left: 1em;
	opacity: 0.2;
	font-size: 0.875em;
	border-radius: 5px;

	transition: opacity 500ms ease;

	&:hover {
		opacity: 1;
	}
	
	&.visible {
		opacity: 1;

		.primer-menu__nav {
			display: block;
		}
	}
}

.primer-menu__button {
	// width: 38px;
	height: 38px;
	margin: -0.8em;
	padding: 0.8em;

	background: transparent;
	border: 0;

	color: #fff;
	font-size: 1em;

	cursor: pointer;

	outline: none;
}

.primer-menu__nav {
	display: none;
	margin-bottom: 1em;

	max-height: 300px;
	overflow: auto;
}

.primer-menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.primer-menu__item {
	padding: 0.5em 0;
}

.primer-menu__link {
	display: block;
	color: #fff;
	color: rgba(#fff, 0.7);

	text-transform: capitalize;
	text-decoration: none;

	&:hover {
		color: #fff;
	}
}
